{% load staticfiles %}

<html>
	<head>
	<link rel="stylesheet" type="text/css" href="{% static "task/style.css" %}"/>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script>
		{% block script_head %}
		{% endblock %}
	</script>
	<style>
		{% block style %}
		{% endblock %}
	</style>
	</head>
	<body>
		<div class="wrapper">
		<div class="left">
			<a href="{% url 'admin:index' %}">admin</a><br>
			<h3>Tasks</h3>
			<a href="{% url 'task:lst' %}">list</a><br>
			<a href="{% url 'task:calendar' %}">calendar</a><br>
			<a href="{% url 'task:form_task_add' %}">add</a><br>
		</div>
			<div class="center">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
	<script>
		{% block script_foot %}
		{% endblock %}
	</script>
</html>




