{% extends 'task/base.html' %}

{% block style %}
.calendar table td {
	border: solid black 1px;
}
table {
	border-collapse: collapse;
}
.calendar td {
	height: 100px;
	min-width: 100px;
}
td.today {
	background-color: #bbbbff;
}
table.list {
	border: 1px solid black;
}
table.list td {
	border: 1px solid black;
}
table.list th {
	border: 1px solid black;
	min-width: 100px;
}
{% endblock %}

{% block content %}
<div class="calendar">
	<table>
		<tr>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
		{% for w in cal.weeks %}
		<tr>
			{% for d in w %}
			<td class="{{ d.html_class }}">
				{{ d.date.day }}<br>

				<table>
					{% for t in d.tasks %}
					<tr>
					<td>
						<form
						action="{% url 'task:end_now' t.id %}"
						method="post">
							{% csrf_token %}
							<input type="submit" value="END"/>
						</form>
					</td>
					<td>{{ t.title }}</td>
					</tr>
					{% endfor %}
				</table>
			</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
</div>
{% endblock %}

